<h1>ORGANIZER</h1>
<div class="container">
  <div class="calendar">
    <mat-calendar [(selected)]="selectedDate" (selectedChange)="getSelectedChange($event)"></mat-calendar>
  </div>
  <div class="organizer">
    <div class="sected-date">
      <span>Selected date:</span>
      <div> <h2>{{selectedDate | date: 'longDate'}}</h2>
    </div>
    <hr>
    <div cdkDropListGroup class="organizer-list" *ngIf="!loader; else spiner">
      <div class="example-container">
        <h2>To do</h2>
        <div
          cdkDropList
          [cdkDropListData]="todos"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngIf="todos.length; else noTodos">
            <div class="example-box" *ngFor="let item of todos" cdkDrag>{{item.title}}</div>
          </div>
          <ng-template #noTodos>
            <div class="example-box">
              <small>No Todos yet... Add new one!</small>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="example-container">
        <h2>Done</h2>
        <div
          cdkDropList
          [cdkDropListData]="dones"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          >
          <div *ngIf="dones.length; else noDones">
            <div class="example-box" *ngFor="let item of dones" cdkDrag >
              <div>{{item.title}}</div>
              <button class="btn btn-primary" (click)="remove(item)">Delete</button>
            </div>
          </div>
          <ng-template #noDones>
            <div class="example-box">
              <small>Drop completed Todo here...</small>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <form (ngSubmit)="submit()"  [formGroup]="form">
      <input type="text" formControlName="title">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Add</button>
    </form>
    <ng-template #spiner>
      <div class="loader">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </ng-template>
  </div>
</div>

