
@media screen and (max-width: 519px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap-reverse;
  }

  .example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  }

}

@media screen and (min-width: 520px) {
  .container {
    display: flex;
      justify-content: space-between;
      align-items: start;
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: revert;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  }
